---
- hosts: localhost
  become: true
  vars:
    _ce_provision_username: ce-dev
    _venv_path: /home/ce-dev/ce-python
    _venv_command: /usr/bin/python3 -m venv
    _venv_install_username: "{{ _ce_provision_username }}"
    _ce_ansible_timer_name: upgrade_ansible
    _env_type: dev
    db_root_pass: ce-dev
    project_name: lgd
    user_root:
      authorized_keys: []
      delete_admin: false
    mysql_client:
      client: "mariadb-client"
      host: localhost
      user: root
      password: ce-dev
      creds_file_dest: /home/ce-dev/.mysql.creds
      creds_file_owner: ce-dev
      creds_file_group: ce-dev
    nginx:
      user: www-data
      worker_processes: auto
      events:
        worker_connections: 768
      http:
        server_names_hash_bucket_size: 256
        access_log: /var/log/nginx-access.log
        error_log: /var/log/nginx-error.log
        ssl_protocols: "TLSv1.2 TLSv1.3"
        sendfile: "on"
        keepalive_timeout: 65
        gzip_vary: "on"
        gzip_types:
          - text/plain
          - text/css
          - text/xml
          - text/javascript
          - application/javascript
          - application/x-javascript
          - application/json
          - application/xml
          - application/xml+rss
          - application/xhtml+xml
          - application/x-font-ttf
          - application/x-font-opentype
          - image/svg+xml
          - image/x-icon
        mime_types:
          text/html: ["html", "htm", "shtml"]
          text/css: ["css"]
          text/xml: ["xml", "rss"]
          image/gif: ["gif"]
          image/jpeg: ["jpeg", "jpg"]
          application/x-javascript: ["js"]
          application/atom+xml: ["atom"]
          text/mathml: ["mml"]
          text/plain: ["txt"]
          text/vnd.sun.j2me.app-descriptor: ["jad"]
          text/vnd.wap.wml: ["wml"]
          text/x-component: ["htc"]
          image/png: ["png"]
          image/tiff: ["tif", "tiff"]
          image/vnd.wap.wbmp: ["wbmp"]
          image/x-icon: ["ico"]
          image/x-jng: ["jng"]
          image/x-ms-bmp: ["bmp"]
          image/svg+xml: ["svg", "svgz"]
          font/ttf: ["ttf"]
          font/opentype: ["otf"]
          application/font-woff: ["woff"]
          application/vnd.ms-fontobject: ["eot"]
          application/java-archive: ["jar", "war", "ear"]
          application/manifest+json: ["webmanifest"]
          application/json: ["json"]
          application/mac-binhex40: ["hqx"]
          application/msword: ["doc"]
          application/pdf: ["pdf"]
          application/postscript: ["ps", "eps", "ai"]
          application/rtf: ["rtf"]
          application/vnd.ms-excel: ["xls"]
          application/vnd.ms-powerpoint: ["ppt"]
          application/vnd.wap.wmlc: ["wmlc"]
          application/vnd.google-earth.kml+xml: ["kml"]
          application/vnd.google-earth.kmz: ["kmz"]
          application/x-7z-compressed: ["7z"]
          application/x-cocoa: ["cco"]
          application/x-java-archive-diff: ["jardiff"]
          application/x-java-jnlp-file: ["jnlp"]
          application/x-makeself: ["run"]
          application/x-perl: ["pl", "pm"]
          application/x-pilot: ["prc", "pdb"]
          application/x-rar-compressed: ["rar"]
          application/x-redhat-package-manager: ["rpm"]
          application/x-sea: ["sea"]
          application/x-shockwave-flash: ["swf"]
          application/x-stuffit: ["sit"]
          application/x-tcl: ["tcl", "tk"]
          application/x-x509-ca-cert: ["der", "pem", "crt"]
          application/x-xpinstall: ["xpi"]
          application/xhtml+xml: ["xhtml"]
          application/zip: ["zip"]
          application/octet-stream: ["bin", "exe", "dll", "deb", "dmg", "iso", "img", "msi", "msp", "msm"]
          application/ogg: ["ogx"]
          audio/midi: ["mid", "midi", "kar"]
          audio/mpeg: ["mpga", "mpega", "mp2", "mp3", "m4a"]
          audio/ogg: ["oga", "ogg", "spx"]
          audio/x-realaudio: ["ra"]
          audio/webm: ["weba"]
          video/3gpp: ["3gpp", "3gp"]
          video/mp4: ["mp4"]
          video/mpeg: ["mpeg", "mpg", "mpe"]
          video/ogg: ["ogv"]
          video/quicktime: ["mov"]
          video/webm: ["webm"]
          video/x-flv: ["flv"]
          video/x-mng: ["mng"]
          video/x-ms-asf: ["asx", "asf"]
          video/x-ms-wmv: ["wmv"]
          video/x-msvideo: ["avi"]

        proxy_buffer_size: 512k
        proxy_buffers: "8 256k"
        client_body_buffer_size: 512k
        fastcgi_buffer_size: 512k
        fastcgi_buffers: "8 256k"
        cache_behavior_private: "add_header Cache-Control \"private, max-age=604800\""
        cache_behavior_public: "add_header Cache-Control \"public, max-age=604800\""
        proxy_host: localhost
        proxy_port: 8443
      log_group_prefix: ""
      php_fastcgi_backend: "127.0.0.1:90{{ php.version[-1] | replace('.','') }}"
      ratelimitingcrawlers: false
      client_max_body_size: "700M"
      fastcgi_read_timeout: 60
      overrides: []
      recreate_vhosts: true
      domains:
        - server_name: "_"
          access_log:  /var/log/nginx-access.log
          error_log:  /var/log/nginx-error.log
          error_log_level:  notice
          webroot:  /home/ce-dev/deploy/live.local/web
          project_type:  drupal10
          ratelimitingcrawlers: false
          is_default: true
          ssl: # @see the 'ssl' role.
            domains:
              - "{{ _domain_name }}"
            handling: selfsigned
            replace_existing: false
          servers:
            - port: 80
              ssl: false
              https_redirect: false
            - port: 443
              ssl: true
              https_redirect: false
          upstreams: []
    php:
      version:
        - 8.1
      apt_signed_by: https://packages.sury.org/php/apt.gpg
      apt_origin: "origin=deb.sury.org,codename=${distro_codename}"
      cli:
        expose_php: "On"
        error_reporting: "E_ALL"
        display_errors: "On"
        display_startup_errors: "On"
        html_errors: "On"
        engine: "On"
        short_open_tag: "Off"
        max_execution_time: 120
        max_input_time: 60
        max_input_nesting_level: 64
        max_input_vars: 1000
        memory_limit: -1
        log_errors_max_len: 1024
        ignore_repeated_errors: "Off"
        ignore_repeated_source: "Off"
        post_max_size: 200M
        upload_max_filesize: 200M
        max_file_uploads: 20
        date_timezone: "Europe/London"
        gc_maxlifetime: 1440
        zend_assertions: -1
        overrides: {}
        opcache:
          enable: 1
          enable_cli: 0
          memory_consumption: 128
          max_accelerated_files: 2000
          validate_timestamps: 1
      fpm:
        expose_php: "On"
        error_reporting: "E_ALL"
        display_errors: "On"
        display_startup_errors: "On"
        html_errors: "On"
        engine: "On"
        short_open_tag: "Off"
        max_execution_time: 120
        max_input_time: 60
        max_input_nesting_level: 64
        max_input_vars: 1000
        memory_limit: 256M
        log_errors_max_len: 1024
        ignore_repeated_errors: "Off"
        ignore_repeated_source: "Off"
        post_max_size: 200M
        upload_max_filesize: 200M
        max_file_uploads: 20
        date_timezone: "Europe/London"
        gc_maxlifetime: 1440
        cookie_lifetime: 0
        zend_assertions: -1
        session_cookie_secure: "Off"
        unix_socket: false
        server_ip: "127.0.0.1"
        tcp_port: ""
        pool_user: ce-dev
        pool_group: ce-dev
        pm: dynamic
        clear_env: "yes"
        default_socket_timeout: 60
        max_children: 5
        start_servers: 2
        min_spare_servers: 1
        max_spare_servers: 3
        process_idle_timeout: 10s
        max_requests: 500
        request_terminate_timeout: 0
        rlimit_core: 0
        slow_log: true
        request_slowlog_timeout: 0
        slowlog_file_directory: /home/ce-dev
        opcache:
          enable: 1
          enable_cli: 0
          memory_consumption: 128
          max_accelerated_files: 2000
          validate_timestamps: 1
    php_composer:
      version: ''
      version_branch: '--2'
      keep_updated: true
      github_oauth_token: ''
  tasks:
    - name: Update the apt cache.
      ansible.builtin.apt:
        update_cache: true
    - name: Install common packages.
      ansible.builtin.import_role:
        name: _meta/common_base
    - name: Configure MariaDB installation script.
      ansible.builtin.debconf:
        name: mariadb-server
        question: "{{ item }}"
        vtype: password
        value: "{{ db_root_pass }}"
      with_items:
        - mysql-server/root_password
        - mysql-server/root_password_again
    - name: Install MariaDB with custom configuration.
      ansible.builtin.apt:
        name: mariadb-server
        state: latest
        update_cache: true
      register: install_mariadb
    - name: Install the MySQL client.
      ansible.builtin.import_role:
        name: debian/mysql_client
    - name: Set up the PHP CLI.
      ansible.builtin.import_role:
        name: debian/php-cli
    - name: Set up PHP-FPM.
      ansible.builtin.import_role:
        name: debian/php-fpm
    - name: Set up NGINX web server.
      ansible.builtin.import_role:
        name: debian/nginx
